// To center images
.center {
text-align: center;
}

/*控制边框动画*/

.post-list {
margin: 0;
padding: 0;
list-style-type: none;
text-align: left;
display: inline-block;
}
.post-list li {
margin: 0 0 2.2em 0;
float: left;

-moz-box-shadow:4px 4px 4px #efefef,
-4px -4px 4px #efefef,
4px -4px 4px #efefef,
-4px 4px 4px #efefef;
-webkit-box-shadow:4px 4px 4px #efefef,
-4px -4px 4px #efefef,
4px -4px 4px #efefef,
-4px 4px 4px #efefef;
box-shadow:4px 4px 4px #efefef,
-4px -4px 4px #efefef,
4px -4px 4px #efefef,
-4px 4px 4px #efefef;
}
.post-list li:hover {
/*transform:scale(1.01,1.01); */
-moz-box-shadow:4px 4px 4px #c9e1f6,
-4px -4px 4px #c9e1f6,
4px -4px 4px #c9e1f6,
-4px 4px 4px #c9e1f6;
-webkit-box-shadow:4px 4px 4px #c9e1f6,
-4px -4px 4px #c9e1f6,
4px -4px 4px #c9e1f6,
-4px 4px 4px #c9e1f6;
box-shadow:4px 4px 4px #c9e1f6,
-4px -4px 4px #c9e1f6,
4px -4px 4px #c9e1f6,
-4px 4px 4px #c9e1f6;
/*background-color: #F5FFFA;*/
}


.excerpt {
padding-left: 20px;
border-left: 3px solid $primary;
margin: 0;
margin-right: 10px;
text-indent: 30px;
}

.post-list__post-title {
padding-left: 10px;
margin-top: 5px;
margin-bottom: .2em;
font-size: 1.5em;
line-height: 1.3em;
}
