---
layout: default
---
{% if page.image.feature %}
<div class="post-image-feature">
    <img class="feature-image" src=
        {% if page.image.feature contains 'https' or page.image.feature contains 'http' %}
        "{{ page.image.feature }}"
        {% else %}
        "{{ site.url }}/img/{{ page.image.feature }}"
        {% endif %}
        alt="{{ page.title }} feature image">
        
        {% if page.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
        {% endif %}
</div><!-- /.image-wrap -->
{% endif %}


<div id="post">
    <header class="post-header">
        <span class="post-meta">
            <span class="post-date">
                {{ page.date | date: "%Y-%m-%d" | upcase }}
            </span>
            •
            {% include read_time.html %}
        </span>
        <h1 title="{{ page.title }}">{{ page.title }}</h1>
    </header>
    
    <article class="post-content">
        {{ content }}
    </article>
</div>

<hr class="post-list__divider" />

{% include new-old.html %}

{% if page.comments == true %}
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ site.url }}" data-title="{{ page.title }}" data-url="{{ site.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"streamelody"};
    (function() {
     var ds = document.createElement('script');
     ds.type = 'text/javascript';ds.async = true;
     ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
     ds.charset = 'UTF-8';
     (document.getElementsByTagName('head')[0]
      || document.getElementsByTagName('body')[0]).appendChild(ds);
     })();
    </script>
<!-- 多说公共JS代码 end -->
{% endif %}
